<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newBurger="{{devoured}}">
		{{#if devoured}}Devour Again!{{else}}Devour It!{{/if}}
	</button>
	<button class="delete-burger" data-id="{{this.id}}">DELETE BURGER!</button>
</li>
